/*betterdiscord openasar cumcord :( goosemod :(*/
/*mini plugin themes*/@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
/*Boosted Favorites*/@import url("https://maendisease.github.io/BetterDiscordStuff/css/boostedFavorites.css");
/*bearable inbox*/@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
/*https://github.com/maenDisease/BetterDiscordStuff/tree/main/css

/*mini searchbar*/@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
/*show original link*/@import url("https://minidiscordthemes.github.io/Snippets/ShowOriginalLink/main.css");
/*split message bars*/@import url("https://minidiscordthemes.github.io/Snippets/SplitMessageBars/main.css");
/*https://github.com/MiniDiscordThemes/Snippets/tree/main/themes/*/

/*dark server modal*/@import url(https://dablulite.github.io/css-snippets/NoLightInDark/import.css);
/*Better Editor*/@import url("https://dablulite.github.io/css-snippets/BetterFloatingEditor/import.css");
/*account details grid*/@import url(https://dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);
/*Spotify Activity Redesign */@import url("https://dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css");
/*https://github.com/DaBluLite/css-snippets

/*visual refresh client theme*/@import url(`https://nspc911.github.io/vc-themes/VisualRefreshClientTheme.theme.css`);
/*https://github.com/NSPC911/vc-themes

/*discolored*/
@import url("https://nyri4.github.io/Discolored/main.css");
@import url('https://nyri4.github.io/donators/donators.css');
/*roba degli importi*/

/*mini plugin themes*/
/*more grides*/*:where(#plugins-tab,#themes-tab) >.bd-addon-list.bd-grid-view:not(.bd-addon-store){grid-template-columns:repeat(auto-fill, minmax(202px, 1fr ))!important;}
/*repos*/*:where(#plugins-tab,#themes-tab) *>.bd-addon-store{grid-template-columns:repeat(auto-fill, minmax(232px, 1fr ))!important;}
/*pulsanti plugin*/.bd-addon-list .bd-controls>.bd-addon-button:not(.bd-button-color-red) svg{fill: #3e82e5;}
/**/.bd-addon-list .bd-controls>.bd-addon-button:hover svg{fill:currentColor}

/*Boosted Favorites*/:root{--favorites-name: 'My Favorites';--favorites-guild-icon: url(//i.imgur.com/OFCbYk0.png);--favorites-banner: url(https://i.imgur.com/jtcxsU6.png);}

/*better editor*/
/*all sections giant css and detached*/#bd-customcss-editor{min-height: 820px!important;}.contentColumn__23e6b:not([id="voice-&-video-tab"]){max-width:100%;}
/**/.sidebar__23e6b,.sidebarRegionScroller__23e6b,.sidebarRegion__23e6b{max-width:250px;flex:1 0;}.sidebarRegion_c25c6d{flex: 0.3;}
/*fixer sidebar impostazioni*/.sidebar__23e6b{padding: 10px;}
/*fix bd controls*/#bd-editor-controls *>[class*=bd-button] {background: var(--background-secondary-alt) !important;border-radius: 40px;}

/*Better Floating Editor*/.controls-section.controls-right *>.bd-text-normal.bd-text-14{ font-size:0;}

/*giant floating editor*/.floating-window{min-height: 100px;}

/*ricerca migliorata*/[class*=toolbar] *>[class*=searchBar] *> [class*=icon]{top: 2px;right: 1px;position: absolute;left: unset;}
[class*=toolbar] *>:where([class*=iconContainer],[class*=icon]:not([aria-label="Messaggi attaccati"]>*)){width: 18px;height: 18px;color: white;}
